body {
    background-image: url("https://corporate.target.com/getmedia/c12580e7-f3ee-4ebe-b1a3-e31ba21a9651/ABV_header_1.jpg");
    background-size: cover;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.title {
    width: 50%;
    height: 100%;
    background-color: #8f3d3c;
    text-align: center;
    display: none;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    font-size: 50px;
}

#food {
    width: 80%;
    height: 80%;
    display: none;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    left: 10%;
}

#aisles {
    width: 80%;
    height: 80%;
    display: none;
    border-radius: 30px;
    position: absolute;
    top: 15%;
    left: 10%;
}

#toys {
    display: none;
    width: 80%;
    height: 80%;
    display: none;
    border-radius: 30px;
    position: absolute;
    top: 15%;
    left: 10%;
}

.yes {
    display: none;
    border-radius: 30px;
    color: black;
    background-color: #ffe6e6;
    width: 250px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    left: 28%;
    top: 50%;

}

.no {
    display: none;
    border-radius: 30px;
    color: black;
    background-color: #ffe6e6;
    width: 250px;
    height: 100px;
    font-size: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
    left: 60%;
    top: 52%;
}
.reg {
    display: none;
    border-radius: 30px;
    color: black;
    background-color: #ffe6e6;
    width: 250px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    left: 28%;
    top: 50%;

}

.self {
    display: none;
    border-radius: 30px;
    color: black;
    background-color: #ffe6e6;
    width: 250px;
    height: 100px;
    font-size: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
    left: 60%;
    top: 52%;
}
#expo {
    width: auto;
    background-color: #8f3d3c;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 50px;
}

#pickone {
    width: auto;
    background-color: #8f3d3c;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    
    font-size: 50px;
    display: none;
}

#goOn {
    width: auto;
    background-color: #8f3d3c;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;

    left: 35%;
    font-size: 50px;
    display: none;
}
#pay {
    width: auto;
    background-color: #8f3d3c;
    text-align: center;
    border-radius: 30px;
    margin: auto;
    padding: 10px;
    position: absolute;
    left:20%;
    font-size: 50px;
    display: none;
}
#nerf {
    display: none;
    position:absolute;
    top:15%;
    left:18%;
}
#dog {
    display: none;
    position:absolute;
    top:15%;
    left:60%;
    margin: auto;
}